@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 50 20% 91%;
    --foreground: 134 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 134 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 134 15% 20%;
    --primary: 134 27% 34%;
    --primary-foreground: 50 20% 98%;
    --secondary: 50 20% 85%;
    --secondary-foreground: 134 27% 34%;
    --muted: 50 20% 85%;
    --muted-foreground: 134 15% 40%;
    --accent: 26 31% 48%;
    --accent-foreground: 50 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 50 20% 80%;
    --input: 50 20% 95%;
    --ring: 134 27% 34%;
    --chart-1: 134 27% 34%;
    --chart-2: 26 31% 48%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 134 15% 10%;
    --foreground: 50 20% 91%;
    --card: 134 15% 15%;
    --card-foreground: 50 20% 91%;
    --popover: 134 15% 10%;
    --popover-foreground: 50 20% 91%;
    --primary: 134 27% 44%;
    --primary-foreground: 50 20% 98%;
    --secondary: 134 15% 25%;
    --secondary-foreground: 50 20% 98%;
    --muted: 134 15% 25%;
    --muted-foreground: 50 20% 60%;
    --accent: 26 31% 58%;
    --accent-foreground: 50 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 134 15% 25%;
    --input: 134 15% 25%;
    --ring: 134 27% 44%;
    --chart-1: 134 27% 44%;
    --chart-2: 26 31% 58%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
